.page{
    background-color: white;
    margin: 2em auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
    max-width: 1400px;
    box-shadow: 0 10px 40px rgba(255, 255, 255, .6);
}

.login-btn {
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    background: #1a2a6c;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.login-btn i{
    margin-right: 1em;
}

.login-btn:hover {
    opacity: 0.8;
}

.login-btn.active {
    background: white;
    color: #1a2a6c;
    box-shadow: 0 5px 10px rgba(255, 255, 255, .5);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1em 0 1em 0;
    opacity: .9;
    align-self: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #1a2a6c;
}

.user-info p {
    margin: 0;
    font-weight: bold;
    color: #333;
    font-size: 1.1rem;
}

.logout-btn {
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    background: #1a2a6c;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.logout-btn:hover {
    background: #0d1754;
}
