.page{
    background-color: white;
    margin: 2em auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
    max-width: 1400px;
    box-shadow: 0 10px 40px rgba(255, 255, 255, .6);
}

.tabSelect{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

.groupSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10em;
}

.sectionFlashCards{
    padding: 0;
}

.flashcards {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }