<div class="flashcard">
    <div class="flashcard-inner">
        <div class="flashcard-front">
            <button class="check-btn">
                <i class="fas fa-check"></i>
            </button>
            <div class="strokes">{{strokes}}</div>
            <div class="kana">{{kana}}</div>
        </div>
        <div class="flashcard-back">
            <button class="check-btn">
                <i class="fas fa-check"></i>
            </button>
            <div class="strokes">{{strokes}}</div>
            <div class="kana">{{kana}}</div>
            <div class="romaji">{{romaji}}</div>
            <div class="example-container">
                <div class="example-word">{{example}}</div>
                <div class="example-meaning">{{meaning}}</div>
            </div>
        </div>
    </div>  
</div>