hr{
    border: 2px solid #fdbb2d;
}

h1{
    color: #1a2a6c;
    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
}

.flashcard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2em, 1fr));
    gap: 2em;
    justify-content: space-around;
}

.sectionFlashCards{
    margin-bottom: 5em;
}