<section class="page">
    <div class="flashcard-container">
        @for (kanji of kanjiList; track $index) {
            <app-kanji-flashcard 
                (checkedChange)="onCheckedChange(kanji.character, $event.checked)"
                [checked]="checkedStates[kanji.character] || false"
                [character]="kanji.character" 
                [strokes]="kanji.strokes" 
                [meaning]="kanji.meaning" 
                [readings]="kanji.readings" 
                [example]="kanji.example">
            </app-kanji-flashcard>
        }
    </div>
</section>
