.tab-button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background: #1a2a6c;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.tab-button:hover {
    background: #0d1a4a;
    transform: translateY(-3px);
}

.tab-button.active {
    background: #fdbb2d;
    color: #333;
}